* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #292828;
}

.container {
  display: list-item;
  list-style: none;
  margin: auto;
  width: 30vw;
  height: 100vh;
  background-color: #5a5a5a;
}
.row{
    background-color: transparent;
    width: 80%;
    margin: auto;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 20px;
  width: 20vw;
  height: 80px;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  border-radius:10rem;
}

.fade{
    background-color:#ffffff;
    transition: all 0.5s;
}

.fade:hover{
    color: #ffffff;
    background-color: #04aaec;
    transition: all 0.5s;
}


.transparent {
  background: #ffffff;
  transition: all 0.5s;
}

.transparent:hover {
  background: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  transition: all 0.5s;
}

.neon {
  color: #000000;
  border: 2px solid #000000;
  transition: all 0.5s;
}

.neon:hover {
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: #2196f3;
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  transition: all 0.5s;
}

.neon a {
  position: absolute;
  display: block;
}

.backward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .backward:hover, .backward:focus, .backward:active {
    -webkit-transform: translateX(-16px);
    transform: translateX(-16px);
  }
  



.forward {
  -webkit-transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.171);
}

.forward:hover,
.forward:focus,
.forward:active {
  -webkit-transform: translateX(16px);
  transform: translateX(16px);
}
